doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href='/') tensorflowjs
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/about') About

    block content

    footer#main-footer.fixed-bottom.text-center.border-top.pt-3.mt-5
      p Copyright &copy; ayushtiwari 2019


  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src="https://cdn.plot.ly/plotly-latest.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js")
  script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js")
  script(src='/javascripts/imagenet_classes.js')
  script(src='/javascripts/predict.js')
  script(src='/javascripts/behaviour.js')

